<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="../static/tableau.css">
    <title>Connexion</title>
</head>
<body>
    <h1>Page de connexion</h1>
    <form action="/main" method="post">
        <label for="password">Mot de passe: </label>
        <input type="password" id="password" name="password" value="{{ enteredPassword }}" required>
        <button type="submit">Se connecter</button>
    </form>
    {% if error==True %}
        <p style="color: red;">Mot de passe incorrect</p>
    {% endif %}
</body>
</html>
